  <html>
        <head>
            <title>Pedrito's Blog</title>
        </head>
        <body>
            <div>

                <h1><a href="">http://pedroruggiero.pythonanywhere.com</a></h1>
            </div>
	    {% for post in posts %}
            <div>
                <p>publicado: {{ post.published_date }}</p>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaks }}</p>
            </div>
            {% endfor %}



        </body>
    </html>

